// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.top-44  .tab-nav{
  height: 54px;
  top:54px !important;
}
.color-white{
  color: #fff;
}
.color-red{
  color: #f53d3d;
}
.content-bg{
  background-color: #000;
}
.col-center{
  text-align: center;
}
.followers{
  font-size: 8px;
}
.stats{
  font-size: 10px;
}
.stats2{
  font-size: 8px;
}
.card-no-padding{
  margin: 0px;
  border-radius: 0px;
  width: auto;
  margin-bottom: 12px;
}
.card-no-margin{
  margin-bottom: 0px;
}
.bottom-dashed{
  border-bottom: 1px dashed #fff; padding-bottom:2px;
}
.bottom-padding{
  padding-bottom: 10px;
}
.top-padding{
  padding-top: 20px;
}
