// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.top-44  .tab-nav{
  height: 54px;
  top:54px !important;
}
.color-white{
  color: #222;
}
.color-red{
  color: #222;
}
.color-primary{
  color: #4885ed;
}
.content-bg{
  background-color: #efefef;
}
.col-center{
  text-align: center;
}
.col-right{
  text-align: right;
}
.col-left{
  text-align: left;
}
.followers{
  font-size: 8px;
}
.stats{
  font-size: 12px;
}
.stats2{
  font-size: 8px;
}
.card-margin-top{
  margin-top: 12px !important;
}
.card-no-padding{
  // margin: 0px;
  // border-radius: 0px;
  // width: auto;
  // margin-bottom: 12px;
  // box-shadow: none;
}
.card-no-padding2{
  margin: 20px;
  border-radius: 0px;
  width: auto;
  margin-bottom: 12px;
  margin-top: 12px;
  box-shadow: none;
}
.card-no-margin{
  // margin-bottom: 0px;
}
.bottom-dashed{
  border-bottom: 1px dashed #fff; padding-bottom:2px;
}
.bottom-padding{
  padding-bottom: 10px;
}
.top-padding{
  padding-top: 20px;
}
.bold1{
  font-weight: bold;
}
.font-normal{
  font-weight: normal;
}
