// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$tabs-md-tab-min-height: 44px;
$toolbar-md-height: 44px;
$text-input-highlight-color-valid: #387ef5;
// $tabs-ios-tab-icon-color-active: #4885ed !important;
// $tabs-md-tab-icon-color-active: #4885ed !important;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #4885ed,
  // primary2:   #eaeaeb,
  // blue:       #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d, //f53d3d
  dark:       #222,
  // dark2:      #181818,
  // dark3:      #222,
  // grey4:      #f4f4f4,
  // grey:       #cccccc,
  // grey2:      #333,
  // grey3:      #333, //#f7f7f7, // #222326, //#444, // #282c34, // #21252b,
  // grey5:      #222,
  // grey6:      #ccc,
  // grey7:      #555,
  // black:      #111,
  // acid:       #00ff00,

  // wh1:        #f7f7f7,
  // wh2:        #222,
  light:        #efefef,
  // wh4:        #222,
  // wh5:        #4885ed,
  // wh6:        #efefef,
  // wh7:        #000,
  // wh8:        #f7f7f7,
  // wh9:        #ffffff,
  // wh10:       #666,

  // //black theme
  // bl1:        #f7f7f7,
  // bl2:        #333,
  // bl3:        #333,
  // bl4:        #ccc,
  // bl5:        #00ff00,
  // bl6:        #333,
  // bl7:        #888,
  // bl8:        #000,
  // bl9:        #000,
);

$colors2: (
  wh1:        #f7f7f7,
  wh2:        #222,
  wh3:        #efefef,
  wh4:        #222,
  wh5:        #4885ed,
  wh6:        #efefef,
  wh7:        #000,
  wh8:        #f7f7f7,
  wh9:        #ffffff,
  wh10:       #666,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
